@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



*, *::after, *::before{
    box-sizing: border-box;
}

html{
    background: #023e8a;
    scroll-behavior: smooth;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size:62.5%;
}

body{
    background-color: #004F98;
}

.container{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%, -50%);
    border-radius: 10px;
    background-color: #fff;
    padding : 1.5rem;
}

.container p{
    color: #fff;
    font-size: 2rem;
}

.container input{
    width: 100%;
    height: 40px;
    border: 0.5px solid #333;
    border-radius: 4px;
    outline: 0;
    margin-bottom: 15px;
}

.container p{
    color: #333;
    font-size: 1.2rem;
    font-weight: 700;
}

.container button{
    width: 100%;
    height: 30px;
    margin-top: 15px;
    outline: 0;
    border : 0;
    color: #fff;
    font-weight: 700;
    background-color: #494eea;
}

#imgBox{
    padding: 1.5rem;
    width: 50%;
    margin: 0 auto;
    display: none;
    
}

#imgBox.show-img{
    display: block;
    border: 0.5px solid #000;
    max-height: 200px;
}

#imgBox.hide{
    display: none;
}

.error{
    animation: shake 0.1s linear 10;
}

@keyframes shake{
    0%{
        transform: translateX(0);
    }

    25%{
        transform: translateX(-2px);
    }

    50%{
        transform: translateX(0);
    }

    75%{
        transform: translateX(2px);
    }
    0%{
        transform: translateX(0);
    }
}